* {
    margin: 0;
    padding: 0;
}
.top {
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 1050PX;
    background-color: rgb(239, 119, 119);
}
.main {
    margin: auto;
    width: 1050px;
    height: 500px;
     background-color: rgb(240, 229, 116); 
}
.nav {
    margin: 0 auto;
    width: 1050px;
    height: 50px;
    background-color: rgb(141, 226, 101);
}
.left {
    float: left;
    width: 350px;
    height: 500px;
     background-color: rgb(96, 220, 239);
}
.center {
    float: left;
    width: 350px;
    height: 500px;
     background-color: rgb(78, 126, 240);
}
.right { 
    float: left;
    width: 350px;
    height: 500px;
     background-color: rgb(171, 46, 228);

}  
.footer { 
    width: 1050px;
    height: 60px;
    background-color: rgb(198, 24, 131);
    margin-left: auto;
    margin-right: auto;
}
